// Fonts
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=block");

// Abstracts
:root {
    
  // FONDOS
  --fondo-principal         :   hsl(0, 0%, 90%);
  --fondo-switch            :   hsl(0, 5%, 81%);
  --fondo-pantalla          :   hsl(0, 0%, 93%);

  //TECLAS
  --tecla-fondo             :   hsl(45, 7%, 89%);
  --tecla-sombra            :   hsl(35, 11%, 61%);

  --tecla-auxiliar-fondo    :   hsl(185, 42%, 37%);
  --tecla-auxiliar-sombra   :   hsl(185, 58%, 25%);

  --tecla-igual-fondo       :   hsl(25, 98%, 40%);
  --tecla-igual-sombra      :   hsl(25, 99%, 27%);

  //TEXTO
  --texto-primario          :   hsl(60, 10%, 19%);
  --texto-secundario        :   hsl(0, 0%, 100%);
  --texto-pantalla          :   hsl(60, 10%, 19%);
}


body.tema-oscuro {

  // FONDOS
  --fondo-principal         :   hsl(222, 26%, 31%);
  --fondo-switch            :   hsl(223, 31%, 20%);
  --fondo-pantalla          :   hsl(224, 36%, 15%);

  //TECLAS
  --tecla-fondo             :   hsl(30, 25%, 89%);
  --tecla-sombra            :   hsl(28, 16%, 65%);

  --tecla-auxiliar-fondo    :   hsl(225, 21%, 49%);
  --tecla-auxiliar-sombra   :   hsl(224, 28%, 35%);

  --tecla-igual-fondo       :   hsl(6, 63%, 50%);
  --tecla-igual-sombra      :   hsl(6, 70%, 34%);

  //TEXTO
  --texto-primario          :   hsl(221, 14%, 31%);
  --texto-secundario        :   hsl(0, 0%, 100%);
  --texto-pantalla          :   hsl(0, 0%, 100%);
}


body.tema-neon {

  // FONDOS
  --fondo-principal         :   hsl(268, 75%, 9%);
  --fondo-switch            :   hsl(268, 71%, 12%);
  --fondo-pantalla          :   hsl(268, 71%, 12%);

  //TECLAS
  --tecla-fondo             :   hsl(268, 47%, 21%);
  --tecla-sombra            :   hsl(290, 70%, 36%);

  --tecla-auxiliar-fondo    :   hsl(281, 89%, 26%);
  --tecla-auxiliar-sombra   :   hsl(285, 91%, 52%);

  --tecla-igual-fondo       :   hsl(176, 100%, 44%);
  --tecla-igual-sombra      :   hsl(177, 92%, 70%);

  //TEXTO
  --texto-primario          :   hsl(52, 100%, 62%);
  --texto-secundario        :   hsl(0, 0, 100%);
  --texto-pantalla          :   hsl(52, 100%, 62%);
  
}

// Base 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
  background-color: var(--fondo-principal);
  color: var(--texto-primario)
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3em;
}

@media(max-height:500px) and (min-width: 1200px) {

  .container {
    height: max-content;
  }
}

.calculadora {
  max-width: 370px;
  width: 100%;
}

.calculadora__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1em;
  color: var(--texto-pantalla);

  .titulo {
      font-size: 1.2em;
      margin: 0;
  }

  .switch-temas {
      display: flex;
      align-items: flex-end;

      span {
          margin-right: 10px;
          font-size: 0.6em;
      }
      
      .switch-temas__opciones {

          .labels,
          .inputs {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-radius: 50px;
              padding:0.3em 0.5em;
          }

          .labels {
              padding: 0.5em;
              font-size: 0.6em;

              label {
                  cursor: pointer;
              }
          }

          .inputs {
              background-color: var(--fondo-switch);

              input {
                  appearance: none;
                  height: 10px;
                  width: 10px;
                  margin: 0;
                  cursor: pointer;

                  &:checked {
                      background-color: var(--tecla-igual-fondo);
                      box-shadow: 0px 0px 8px 1px var(--tecla-igual-fondo);
                      border-radius: 50px;
                  }

                  &:focus {
                      outline: 0;
                  }
              }
          }
      }
  }
}

.calculadora__pantalla {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  min-height: 110px;
  max-height: 120px;
  overflow-y: auto;
  border-radius: 9px;
  font-size: 1.8em;
  overflow-y: auto;
  text-align: end;
  background-color: var(--fondo-pantalla);
  color: var(--texto-pantalla);
  scrollbar-color: var(--tecla-sombra) var(--tecla-fondo);
  scrollbar-width: thin;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 0.8em 0.6em;

  .operacion.operacion_finalizada {
      font-size: 0.45em;
      opacity: 0.6;
      margin-bottom: 0.7em;
  }

  .resultado.error {
    color: red
  }

}

.calculadora__pantalla::-webkit-scrollbar,
.calculadora__pantalla::-webkit-scrollbar-track-piece {
  background-color: var(--tecla-fondo)
}

.calculadora__pantalla::-webkit-scrollbar-thumb {
  background-color: var(--tecla-sombra);
  border-radius: 8px;
}

.calculadora__teclado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 1em;
  margin-top: 0.5em;
  border-radius: 8px;
  background-color: var(--fondo-switch);
}

.tecla {
  font-family: 'Spartan', sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  background-color: var(--tecla-fondo);
  color: var(--texto-primario);
  border: 0;
  border-bottom: 4px solid var(--tecla-sombra);
  border-radius: 8px;
  padding: 0.4em 0.5em;
  cursor: pointer;

  &:nth-of-type(17),
  &:nth-of-type(18),
  &:nth-of-type(4) {
      font-size: 0.9em;
      padding: 0.9em 0.5em;
  }

  &:nth-of-type(4),
  &:nth-of-type(17) {
      background-color: var(--tecla-auxiliar-fondo);
      border-bottom-color: var(--tecla-auxiliar-sombra);
      color: var(--texto-secundario );
  }

  &:nth-of-type(17) {
      grid-column: 1/3;
  }

  &:nth-of-type(18) {
      grid-column: 3/5;
      background-color: var(--tecla-igual-fondo);
      border-bottom-color: var(--tecla-igual-sombra);
      color: var(--texto-secundario);
  }

  &:active {
      border-bottom: none;
      outline: 0;
  }

  &:focus-visible {
      box-shadow: 0px 0px 8px 1px var(--tecla-sombra);
      outline: 0;
  }
}

.tecla.error {

  &:nth-of-type(17) {
      animation : glow 2.4s cubic-bezier(0.77, 0, 0.175, 1) 2; 
  }
}

@keyframes glow {
  
  0% { box-shadow: unset;}

  50% { box-shadow: 0px 0px 12px 1px var(--tecla-auxiliar-sombra);}

  100% {box-shadow: unset;}
}